---
import Layout from "../layouts/main.astro";

import cave from "../assets/garden/cave.gif";
import miner from "../assets/garden/mc-pikachu.gif";
import man from "../assets/garden/meme_man.png";
import reodor from "../assets/garden/reodor.png";
import n1 from "../assets/garden/N1.jpg";
import birb from "../assets/garden/birb.gif";
import golden from "../assets/garden/golden.png";
import btn from "../assets/garden/explorer_btn.gif";
import spider from "../assets/garden/spider.gif";
import dp from "../assets/garden/daft_punk.gif";
import skull from "../assets/garden/skull.jpg";
import panik from "../assets/garden/panik.png";
import goldenMP3 from "../assets/garden/golden.mp3";
import synec from "../assets/garden/synec.jpg";
import n1MP4 from "../assets/garden/n1.mp4";
import star2 from "../assets/garden/star2.gif";
import wtf from "../assets/garden/wtf.mp4";
import car from "../assets/garden/tempo.jpg";
import corri from "../assets/garden/corri.png";
import nes from "../assets/garden/nes.jpg";
import rest from "../assets/garden/rest.jpg";
import quest from "../assets/garden/quest.gif";
import mine from "../assets/garden/mine.png";
import earth from "../assets/garden/earthrise.jpg";
import border from "../assets/garden/border.gif";
import dug from "../assets/garden/dug.gif";
import linux from "../assets/garden/linux.gif";
import nixos from "../assets/garden/nixos.gif";
import per from "../assets/garden/peer.jpg";
import trol from "../assets/garden/trol.jpg";
import door from "../assets/garden/mc-villager.gif";
import penguin from "../assets/garden/penguin.gif";
import restMP3 from "../assets/garden/rest.mp3";
import skrue from "../assets/garden/skrue.jpg";
---

<Layout>
  <div class="caveDiv">
    <img class="cave" src={cave.src} />
    <img class="miner" src={miner.src} />
    <img class="dug" src={dug.src} />

    <a
      href="https://www.youtube.com/watch?v=FavUpD_IjVY"
      target="_blank"
      rel="noopener noreferrer"
      style="cursor:default"
    >
      <img class="spider" src={spider.src} /></a
    >
  </div>

  <img class="mine" src={mine.src} />

  <img class="skull" src={skull.src} />
  <div class="golden-reodor">
    <img id="goldenSpinner" class="golden" src={golden.src} />
    <div class="reodor">
      <div class="reodor-fix"></div>
      <img src={reodor.src} />
    </div>
    <audio id="goldenMP3" src={goldenMP3} preload="auto" loop></audio>
  </div>
  <script is:inline>
    const el = document.getElementById("goldenSpinner");
    const audio = document.getElementById("goldenMP3");
    let spinning = false;
    function playGolden() {
      if (!spinning) {
        el.style.animationPlayState = "running";
        audio.play().catch(() => {});
        spinning = true;
      } else {
        el.style.animationPlayState = "paused";
        audio.pause();
        spinning = false;
      }
    }
    el.addEventListener("click", playGolden);
  </script>

  <div class="welcome">
    <div class="text">
      <span>Welcome to the garden! </span>

      <p>
        Sometimes called a "digital scrapbook," this follows a tradition of the
        early internet. Here I gather things that feel precious and lost. It's a
        reflection of myself in the greater zeitgeist.This page also contains a
        lot of secrets, so do click around! Hope you enjoy your wander.
      </p>
    </div>
    <btn class="homeBtn" onmouseup="window.location.href='/';"
      >Yelp! Take me home!</btn
    >

    <img id="kalm" class="man" onclick="panik()" src={man.src} />
    <img id="panik" class="man panik" src={panik.src} />

    <a href="https://geekprank.com/" target="_blank" rel="noopener noreferrer">
      <img class="btn" src={btn.src} /></a
    >
  </div>
  <script is:inline>
    function panik() {
      console.log("panik");
      const img = document.getElementById("panik");
      img.style.visibility = "visible";
      setTimeout(() => {
        img.style.visibility = "hidden";
      }, 3000);
    }
  </script>

  <a
    href="  https://www.youtube.com/watch?v=cOJ05hmRhVk"
    target="_blank"
    rel="noopener noreferrer"
    style="cursor:default"
  >
    <img class="synec" src={synec.src} />
  </a>

  <div class="n1">
    <img
      class="n1-photo"
      src={n1.src}
      onclick="let v=document.querySelector('.n1-mp4'); 
           if(v.style.display==='none'){v.style.display='block';setTimeout(()=>v.classList.add('fadein'),100);} 
           else {v.classList.remove('fadein');setTimeout(()=>v.style.display='none',300);}"
    />

    <video class="n1-mp4" src={n1MP4} style="display:none;" controls playsinline
    ></video>
  </div>

  <a
    href="  https://www.youtube.com/watch?v=NESBtODxNVA"
    target="_blank"
    rel="noopener noreferrer"
    style="cursor:default"
  >
    <img class="star2" src={star2.src} />
  </a>
  <a
    href="https://www.youtube.com/watch?v=cC1CqyCN9Q0&list=PL1gANTl5seohe2g2cTFpdrhefRbgH2yQP&index=6"
    target="_blank"
    rel="noopener noreferrer"
    style="cursor:default"
  >
    <img class="linux" src={linux.src} />
  </a>

  <a
    href="https://www.youtube.com/watch?v=FGBhQbmPwH8&list=PL545D5AE8DAE787E1"
    target="_blank"
    rel="noopener noreferrer"
    style="cursor:default"
  >
    <img class="dp" src={dp.src} />
  </a>

  <video
    class="wtf"
    src={wtf}
    playsinline
    onclick="this.currentTime=0; this.play();"
    onended="this.currentTime=0; this.pause();"></video>

  <a
    href="https://modernomadadventures.wixsite.com/thedonrosamuseum/about-9"
    target="_blank"
    rel="noopener noreferrer"
    style="cursor:default"
  >
    <img class="skrue" src={skrue.src} />
  </a>
  <img class="car" src={car.src} />
  <img class="nes" src={nes.src} />

  <div class="rest">
    <img id="rest-img" class="rest-img" src={rest.src} />
    <audio id="restMP3" src={restMP3} preload="auto" loop></audio>
    <a
      id="rest-link"
      href="https://www.youtube.com/watch?v=XhKdg49h4Cw&list=OLAK5uy_n0pSySv7qU48ZEeXQLrNttSQdYPz_iaQ0"
      target="_blank"
      rel="noopener noreferrer">633397</a
    >
  </div>
  <script is:inline>
    const img = document.getElementById("rest-img");
    const link = document.getElementById("rest-link");
    const audio2 = document.getElementById("restMP3");
    let playing = false;
    function playGolden() {
      if (!playing) {
        audio2.currentTime = 0;
        audio2.play().catch(() => {});
        link.style.display = "block";
        playing = true;
      } else {
        audio2.pause();
        playing = false;
      }
    }
    img.addEventListener("click", playGolden);
  </script>

  <div class="earth-border">
    <img class="border" src={border.src} />
    <img class="earth" src={earth.src} />
  </div>

  <img class="corri" src={corri.src} />
  <img class="birb" src={birb.src} />

  <a
    href="https://www.youtube.com/watch?v=bTS9XaoQ6mg"
    target="_blank"
    rel="noopener noreferrer"
    style="cursor:default"
  >
    <img class="quest" src={quest.src} />
  </a>

  <div class="perTrol">
    <img
      class="per"
      src={per.src}
      onclick="document.querySelector('.trol').style.display = 'block';"
    />
    <img class="trol" src={trol.src} />
  </div>

  <a
    href="https://nixos.org/"
    target="_blank"
    rel="noopener noreferrer"
    style="cursor:default"
  >
    <img class="nixos" src={nixos.src} />
  </a>

  <a
    href="https://play.cpjourney.net/"
    target="_blank"
    rel="noopener noreferrer"
    style="cursor:default"
  >
    <img class="penguin" src={penguin.src} /></a
  >

  <div class="home">
    <btn class="homeBtn" onmouseup="window.location.href='/';">Nach Hause!</btn>
    <img class="door" src={door.src} />
  </div>
</Layout>

<!-- ######################################################################## CSS ######################################################################## -->

<style>
  /* --- --- --- --- GENNERAL --- --- --- --- */
  html,
  body {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    margin: 0;
    padding: 0;
    font-size: 0.93vw;
    background-image: url(/wallpapers/diamond.png);
    background-repeat: repeat;
    background-color: #4eff37;
    background-size: 2vw;

    min-height: 100vh;
  }
  * {
    position: absolute;
  }
  /* --- --- --- --- WELCOME --- --- --- --- */
  .welcome {
    top: 5.2vw;
    left: 7.8vw;
    .man {
      width: 12vw;
    }
    .panik {
      left: 0.5vw;
      width: 13.5vw;
      visibility: hidden;
      animation: shake 80ms linear infinite;
      animation-play-state: running;
    }
    .text {
      border: 0.5vw groove rgb(13, 255, 223);
      background-color: #4eff37;
      width: 30vw;
      height: 11.5vw;
      left: 6vw;
      top: 2vw;
      span {
        top: 0.5vw;
        left: 4.3vw;
        font-size: 1.1em;
        font-weight: bold;
      }
      p {
        top: 2.1vw;
        left: 4.3vw;
        margin-right: 1vw;
        text-align: justify;
      }
    }
    .homeBtn {
      width: 10vw;
      padding: 0.1vw 0.1vw;
      top: 10.9vw;
      left: 25.3vw;
    }
    .btn {
      left: 30.5vw;
      bottom: -4.4vw;
      cursor: pointer;

      width: 4.58333333333vw;
    }
  }
  .homeBtn {
    text-align: center;
    background-color: rgb(0, 0, 255);
    color: rgb(255, 255, 255);
    cursor: pointer;
    border: 0.3vw solid;
    border-top-color: #cce0ff;
    border-left-color: #99c2ff;
    border-right-color: #003366;
    border-bottom-color: #001a33;
  }
  .homeBtn:active {
    border-top-color: #001a33;
    border-left-color: #003366;
    border-right-color: #99c2ff;
    border-bottom-color: #cce0ff;
  }
  /* panik */
  @keyframes shake {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(10deg);
    }
    50% {
      transform: rotate(0deg);
    }
    75% {
      transform: rotate(-10deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  /* --- --- --- --- GOLDEN REODOR --- --- --- --- */
  .golden-reodor {
    left: 43.229vw;
    top: 4.688vw;
    .golden {
      height: 41.667vw;
      animation: slowspin 40s linear infinite;
      animation-play-state: paused;
    }
    .reodor {
      top: 18.229vw;
      left: 30.208vw;

      img {
        width: 12vw;
      }

      .reodor-fix {
        height: 1.563vw;
        width: 3.125vw;
        background-color: rgb(194, 194, 194);
        top: 2.083vw;
        left: 3.125vw;
      }
    }
  }
  @keyframes slowspin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  /* --- --- --- --- CAVE --- --- --- --- */
  .caveDiv {
    top: 90vw;
    left: 76vw;
    .cave {
      height: 16vw;
    }
    .miner {
      height: 2vw;
      top: 10vw;
      left: 2vw;
    }
    .spider {
      height: 4vw;
      top: 12vw;
      left: 10vw;
    }
    .dug {
      height: 1.9vw;
      top: 11.8vw;
      left: 7.4vw;
    }
  }
  /* --- --- --- --- N1 --- --- --- --- */
  .n1 {
    top: 24.063vw;
    left: 16.667vw;

    img {
      width: 26.1vw;
    }
    .n1-mp4 {
      width: 26.042vw;
      top: 3.125vw;
      left: -4.688vw;
      border: 0.521vw double #62008f;
      opacity: 0;
      transform: scale(0.3) rotate(-90deg);
      transition: all 0.5s ease-out;
    }
    .n1-mp4.fadein {
      opacity: 1;
      transform: scale(1) rotate(0);
    }
  }
  /* --- --- --- --- MINE --- --- --- --- */
  .mine {
    top: 120vw;
    left: 2vw;
    height: 24vw;
  }
  /* --- --- --- --- EARTH RISE --- --- --- --- */
  .earth-border {
    top: 138.021vw;
    left: 15.625vw;
    .earth {
      height: 20.833vw;
      top: 0.833vw;
      left: 0.729vw;
      transform: rotate(90deg);
    }
    .border {
      height: 22.396vw;
    }
  }
  /* --- --- --- --- PER TROL --- --- --- --- */
  .perTrol {
    top: 147.031vw;
    left: 38.542vw;
    .per {
      height: 20.833vw;
    }
    .trol {
      height: 20.833vw;
      display: none;
      border: 0.208vw solid black;
    }
  }
  /* --- --- --- --- WTF --- --- --- --- */
  .wtf {
    top: 146.875vw;
    left: 55.469vw;
    height: 13.021vw;
  }
  /* --- --- --- --- GOOD --- --- --- --- */
  .skull {
    height: 46.875vw;
    top: 44.271vw;
    left: 46.354vw;
    box-shadow: 0.521vw 0.521vw 0vw rgba(0, 0, 0, 0.479);
  }
  .hmc {
    height: 26.042vw;
    top: 303.906vw;
    left: 14.375vw;
  }
  .synec {
    height: 31.25vw;
    top: 59.792vw;
    left: 8.854vw;
  }
  .skrue {
    width: 14.583vw;
    top: 58.073vw;
    left: 30.99vw;
    border: 0.313vw ridge #00ffb3;
  }
  .rest {
    width: 14.063vw;
    height: 14.063vw;
    top: 78.125vw;
    left: 31.146vw;
    .rest-img {
      width: inherit;
    }
    a {
      display: none;
      background-color: rgb(133, 0, 173);
      color: rgb(0, 0, 0);
      bottom: 1.042vw;
      left: 8.333vw;
      padding-left: 1em;
      padding-right: 1em;
    }
  }
  .nes {
    height: 26.042vw;
    top: 92.969vw;
    left: 14.323vw;
  }
  .dp {
    height: 13.021vw;
    top: 105.677vw;
    left: 65.104vw;
  }
  /* --- --- --- --- NIPS --- --- --- --- */
  .birb {
    transform: scaleX(-1);
    height: 7.292vw;
    top: 17.188vw;
    left: 16.667vw;
  }
  .l {
    height: 10.417vw;
    top: 120.833vw;
    left: 8.333vw;
    transform: rotate(180deg);
    border-radius: 50%;
  }
  .corri {
    height: 10.417vw;
    top: 52.083vw;
    left: 40.885vw;
  }
  .star2 {
    height: 10.417vw;
    top: 36.458vw;
    left: 41.146vw;
  }
  .quest {
    height: 6.771vw;
    top: 95vw;
    left: 67.188vw;
  }
  .eyes {
    height: 26.042vw;
    top: 111.875vw;
    left: 30.729vw;
  }
  .shooting {
    height: 26.042vw;
    top: 54.583vw;
    left: 20.313vw;
  }
  .car {
    height: 26.042vw;
    top: 120.313vw;
    left: 32.031vw;
  }
  .home {
    top: 183vw;
    right: 4vw;
    width: 5vw;
    .door {
      height: 8vw;
    }
    .homeBtn {
      width: 7vw;
      top: -2vw;
    }
  }
  .linux {
    top: 66.406vw;
    left: 84.635vw;
    height: 10vw;
  }
  .nixos {
    top: 90.365vw;
    left: 11.198vw;
    height: 6vw;
  }
  .penguin {
    height: 10.417vw;
    top: 124.219vw;
    left: 8.333vw;
  }
</style>
